{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        {{docs|markdown}}
    </div>
</div>
{% endblock %}

<!-- Add new book form -->
<div class="row">
    <div class="col-sm-12">
        <form method="POST" action="/books">
            <div class="form-group">
                {% csrf-field %}
                <p>
                    Name:
                    <input class="form-control"
                           type="text"
                           name="title"
                           value="{{value}}" />
                </p>
                <!-- TODO: add authors input field, issued simple input (replace later with calendar widget),
                           status combo box -->
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                <p>
                    Message:
                    <textarea class="form-control"
                              rows="4"
                              cols="50"
                              name="message"></textarea>
                </p>
                {% if errors.message %}
                <div class="alert alert-danger">{{errors.message|join}}</div>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="comment" />
            </div>
        </form>
    </div>
</div>
